@font-face {
  font-family: 'Gill Sans Nova Cn';
  src: url('/GillSansNova-SemiBold.woff2') format('woff2'),
      url('/GillSansNova-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HiraginoKakuGothicProNW3';
  src: url('/HiraginoKakuGothicProNW3.otf') format('otf')
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}