html,
body {
  padding: 0;
  margin: 0;
    
    font-weight: 700;
    font-size: 18px;
    font-family: heisei-kaku-gothic-std, sans-serif;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    

    font-weight: 700;
    font-style: normal;
    height:auto;
}


a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
}

h1,h2,h3,p,a,span{
  font-weight: 700;
  font-size: 18px;
  font-family: heisei-kaku-gothic-std, sans-serif;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  
  

font-weight: 700;
font-style: normal;
}

.ui.segment {
  box-shadow: none;
  border-radius: 0;
  border: none;
}

.ui.menu {
  border: none;
  box-shadow: none;
  border-radius: 0;
}

.ui.card, 
.ui.cards>.card {
  
  min-height: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.ui.cards a.card:hover, 
.ui.link.card:hover, 
.ui.link.cards 
.card:hover, 
a.ui.card:hover {
  border: none;
  box-shadow: none;
  transform: translateY(0px);
}


.ui.card img,
.ui.cards>.card img,
.column img{
  object-fit: contain;
}

.ui.card>.content, .ui.cards>.card>.content{
  border-top:none;
}


footer.fluid{   
  
  font-weight: 700 !important;
  font-size: 10px !important;
  line-height: 12px;
  position: relative;
    margin: 0px auto 10px;
    font-family: heisei-kaku-gothic-std, sans-serif;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    

font-weight: 700;
font-style: normal;
    
}

footer.fluid{
  min-height: 50px;
  padding: 0px 30px;
  position: absolute;
  bottom: 0px;
  margin-bottom:0px;
}

footer.fluid a{
  font-size:10px !important;
}

.ui.button,.ui.button:hover {
    background: #fff none;   
   
    font-weight: 700 ;
    font-size: 18px ;
    padding: 0;
    color: #000;
    margin-right: 10px;
    margin-top: 20px;
    font-family: heisei-kaku-gothic-std, sans-serif;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
    

font-weight: 700;
font-style: normal;
}
.ui.button:hover {

  text-decoration: underline;
}


.discountholder ul{
  display:none;

}
.infoholder p{ 
  line-height: 20px;
}
.infoholder button{
  background: #000!important;
  box-shadow: none !important;
  font-weight: 100 !important;
  -webkit-appearance: none !important;
  border: 1px solid #000 !important;
  border-radius: 8px !important;
  font-family: Inter !important;
  padding: 10px 32px !important;
  cursor: pointer !important;
  width: 254px !important;
  text-transform: capitalize !important; 
  
  font-weight: 700 !important;
  font-size: 18px ;
  color:#fff !important;
  margin:0px 0px 10px !important;
  line-height: 1em;
  font-family: heisei-kaku-gothic-std, sans-serif;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
  
  

font-weight: 700;
font-style: normal;
}
footer{
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
  
  
}
.imageholder{
  padding:0px !important;
}

.walletbutton{
  display:none !important;
}
.swiper-slide {
  opacity:.25;
  
	-webkit-animation: softfade-out 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: softfade-out 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.swiper-slide-active{
  opacity:1;
  
  
	-webkit-animation: softfade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: softfade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev,.swiper-button-prev, .swiper-rtl .swiper-button-next{
  color:#fff !important;
}



.infoholder button:hover{
  background-color:#eee!important;
  border-color:#000!important;
  cursor:pointer!important;
  text-decoration: none  !important;
  color:#000 !important;
}



.discountholder button{
  background: #2DD67B !important;
  color: #fff;
  border-color: #2DD67B !important;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
  
}

.discountholder button:hover{
  background: #eee !important;
  color: #000 !important;
  border-color: #000 !important;
}
.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
  opacity:1;
  width:100px;
  height:100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}

small{
  font-size:12px;
}
a{
  cursor:pointer;
}
.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.prices span{
  color:red;
}

 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@-webkit-keyframes softfade-in {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}
@keyframes softfade-in {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes softfade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .25;
  }
}
@keyframes softfade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .25;
  }
}



.ui.link.menu .item:hover, .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover {
  cursor: pointer;
  background: none;
  color: rgba(0,0,0,.95);
}




#__next{
  
  position: relative;
}

.counter{
position: relative;
    top: 0px;
    width: 100%;
    background: black;
    color: #fff;
    text-align:center;
    
	-webkit-animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  display:none;
  }

    .Clock-days,
    .Clock-hours,
    .Clock-minutes,
    .Clock-seconds{
      display:inline-block;
  text-transform: capitalize !important; 
  font-weight: 700 !important;
  font-size: 18px;
  padding:10px 15px;
  font-family: heisei-kaku-gothic-std, sans-serif;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  
  

font-weight: 700;
font-style: normal;
    }


.counter span{
  color:rgb(214, 214, 214);
}
.maincontent {
 min-height: 91vh;
}


@media only screen and (min-width:1200px) {
.maincontent {
  min-height: 96vh;
}
}

@media only screen and (max-width:760px) {
  .infoholder{
    text-align:center !important;
  }
  
#__next{
  
  position: relative;
  min-height: none;
}


footer.fluid{
  position:relative;
  padding:0px !important;
  bottom:0px  !important;
}
.Clock-days,
    .Clock-hours,
    .Clock-minutes,
    .Clock-seconds,.counter span{
  font-size: 12px !important;
    }
  


    .infoholder{
      padding:0px !important;
      
    }
    .centered.stackable{
      padding:15px 5px !important;
    }




    .infoholder p {
      line-height: 20px;
      font-size: 14px;
  }
  *, a, h1, h2, h3, p, span ,.infoholder{
    font-weight: 700;
    font-size: 14px !important;
    line-height: 20px;
}
small {
  font-size: 12px !important;
}


}


@media only screen and (max-width:440px) {
  .maincontent {
    min-height: 77vh;
    margin-bottom:60px !important;
  }
  footer.fluid{
    bottom:10px !important;
    padding-bottom:30px !important;
  }
.ui.button , button {

  font-size: 12px !important;
}

}



@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}